<div class="jumbotron">
<div class="container">
  <header><img src="images/passport-plane.png" class="img-responsive main-image" width="200" align="middle" style="vertical-align:middle"></header>
  <div class="wrapper">
    <h2>Welcome to VacayAway!</h2>

    <div class="content">
      <p><a href="/login">Sign In</a> or <a href="/signup">Sign Up</a> to continue.
    </div>

  </div>
</div>
</div>
